@font-face {
  font-family: 'SBAggroB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";


.App {
  background: linear-gradient(to right, #e0eafc, #cfdef3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
  font-family: 'SBAggroB';
  text-align: center;
  height: 100vh;
}

.User {
  background-color: #ffffff;
  border: 2px solid rgb(42, 42, 163);
  border-radius: 10rem;
  margin-top: 35px;
}


.User h1 {
  padding-top: 100px;
  font-size: 50px;  
}

.User h3 {
  padding-top: 20px;
  color: rgb(42, 42, 163);
}
.User .inputBox {
  font-size: 30px;
  padding: 50px;
  
}

.User .is-info {
  width: 300px;
  text-align: center;
  font-family: 'SBAggroB';
  font-size: 18px;
  color: black;
  margin-left: 30px;
 } 

.User div p {
  padding-top: 30px;
  color: red;
  font-size: 15px;
}

.User form button {
  width: 300px;
}

.User .checkBox {
  padding: 50px;
}

.mf div {
  margin-bottom: 30px;
}

.mf input[type=radio]{
	width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}
.mf input[type=radio] + label{
  margin: 0;
  padding: .75em 1.5em;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: solid 1px #DDD;
  background-color: #FFF;
  line-height: 140%;
  text-align: center;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  transition: border-color .15s ease-out,  color .25s ease-out,  background-color .15s ease-out, box-shadow .15s ease-out;
  cursor: pointer;
}

.mf .m input[type=radio]:checked + label{
	background-color: #4B9DEA;
  color: #021B79;
  box-shadow: 0 0 10px rgba(102, 179, 251, 0.5);
  border-color: #4B9DEA;
  z-index: 1;
}

.mf .f input[type=radio]:checked + label{
	background-color: #eaafc8;
  color: #b91d73;
  box-shadow: 0 0 10px rgba(102, 179, 251, 0.5);
  border-color: #eaafc8;
  z-index: 1;
}



/* TestEx */
.TestEx .qsBoxEx {
  padding: 20px;
  text-align: left;
}


.TestEx h1 {
  font-size: 50px;
  padding: 50px;
}


.TestEx .text {
  font-size: 20px;
  padding: 50px;
}

.TestEx h4 {
  font-size: 18px;
  color: #021B79;
  padding-top: 30px;

}
.TestEx input {
  margin-top: 10px;
}

.TestEx button {
  margin-top: 50px;
  margin-right: px;
}

.TestEx .tLogo {
  width: 200px;
  height: 200px;
}

.TestEx .container {
  border: 2px solid #021B79;
  border-radius: 15%;
  margin-top: 30px;
  width: 800px;
}

.TestEx .optionBox .ex1 {
  margin-bottom: 10px;
}

.TestEx .optionBox .ex1 span{
  padding-left: 30px;  
}

.TestEx .ex2 {
  margin-bottom: 10px;
}

.TestEx .optionBox .ex2 span{
  padding-left: 39px;  
}



/* Test.js */
.test h1 {
  font-size: 30px;
  padding: 25px;
}

.test .pgs {
  margin-bottom: 35px;
}

.test .container-lg {
  margin-bottom: 20px;
}

.test .container-lg .qsBox {
  margin: 10px;
  border-bottom: 2px solid #17746c;
  border-left: 2px solid #f64f5a00;
  border-right: 2px solid #ff001100;
  border-radius: 10rem;
  padding: 10px;


  text-align: left;

}

.container-lg h5 {
  font-size: 18px;
}


.qsBox div {
  margin: 5px;
  padding-left: 150px;
}

.qsBox input[type=radio]{
	width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}
.qsBox input[type=radio] + label{
  margin: 0;
  padding: .75em 1.5em;
  background-color: white;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: solid 1px white;
  border-radius: 3rem;
  line-height: 140%;
  text-align: center;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  transition: border-color .15s ease-out,  color .25s ease-out,  background-color .15s ease-out, box-shadow .15s ease-out;
  cursor: pointer;
}

.qsBox .op1 {
  padding-bottom: 10px;
}

.qsBox .op1 input[type=radio]:checked + label{
	background-color: #4B9DEA;
  color: #021B79;
  box-shadow: 0 0 10px rgba(102, 179, 251, 0.5);
  border-color: #4B9DEA;
  z-index: 1;
}

.qsBox .op2 input[type=radio]:checked + label{
	background-color: #eaafc8;
  color: #b91d73;
  box-shadow: 0 0 10px rgba(102, 179, 251, 0.5);
  border-color: #eaafc8;
  z-index: 1;
}

.prnx {
  margin: 20px;
}

.is-link {
  margin-top: 15px;
}

/* complte page */

.complete {
  margin-top: 50px;
  
}

.complete span {
  color: #021B79;
}

.complete h3 {
  padding-top: 60px;
  text-align: left;
  font-size: 20px;
  line-height: 35px;
}

.result h1 {
  padding-top: 30px;
}

.result h2{
  padding-top: 20px;
}
.result .aaaa{
  display: inline-flex;
}
